*~

build*
data/*
data-tools/*
data.tar.gz
CMakeCache.txt

CMakeFiles/
bin/
install/
lib/
share/
doc/api/

cmake/CMakeCache.txt
cmake/CMakeFiles/

*.png
*.pyc

*.txt
*.pdf
*.dat
*.ipynb_checkpoints
*.idea
