# Use git shortlog -sne to verify that all mails are mapped correctly
David Walz <walz@physik.rwth-aachen.de>
Gero Müller <post@geromueller.de>
Gero Müller <post@geromueller.de> <gero.mueller@physik.rwth-aachen.de>
Tobias Winchen <tobias.winchen@rwth-aachen.de> <winchen@physik.rwth-aachen.de>
Tobias Winchen <tobias.winchen@rwth-aachen.de> Tobias Winchen <devnull@localhost>
Tobias Winchen <tobias.winchen@rwth-aachen.de> <winchen@dntkpc4.vub.ac.be>
Andrej Dundović <andrej@dundovic.com.hr>
Andrej Dundović <andrej@dundovic.com.hr> <andrej.dundovic@desy.de>
Andrej Dundović <andrej@dundovic.com.hr> <adundovi@users.noreply.github.com>
Andrej Dundović <andrej@dundovic.com.hr> <adundovi@users.noreply.github.com>
Andrej Dundović <andrej@dundovic.com.hr> <adundovi@pheno05.desy.de>
Lukas Merten <lukas.merten@rub.de>
Christopher Heiter <heiter@physik.rwth-aachen.de> <heiter@lx3a25.physik.rwth-aachen.de>
Rafael Alves Batista <8rafael@gmail.com>
Rafael Alves Batista <8rafael@gmail.com> <alvesbatista@asosx144.nat.physics.ox.ac.uk>
Rafael Alves Batista <8rafael@gmail.com> <rafaelab@users.noreply.github.com>
Rafael Alves Batista <8rafael@gmail.com> <rafael.alves.batista@desy.de>
Daniel Kuempel <kuempel@physik.rwth-aachen.de>
Daniel Kuempel <kuempel@physik.rwth-aachen.de> <kuempel@inst-3a-135.physik.rwth-aachen.de>
Daniel Kuempel <kuempel@physik.rwth-aachen.de> <kuempel@165-253.eduroam.rwth-aachen.de>
Arjen van Vliet <arjen.van.vliet@desy.de>
Arjen van Vliet <arjen.van.vliet@desy.de> <a.vanvliet@astro.ru.nl>
Arjen van Vliet <arjen.van.vliet@desy.de> <arjen.rene.van.vliet@desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod62.desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod65.desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod60.desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod65.desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod67.desy.de>
Carmelo Evoli <carmelo.evoli@gssi.it> <cevoli@phenod69.desy.de>
Marcus Wirtz <marcus.wirtz@rwth-aachen.de>
Bjoern Eichmann <eiche@tp4.rub.de>
Martin Urban <murban@physik.rwth-aachen.de>
